
body {
  overflow-x :hidden;
  background-color: #f4f7fa;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 17px; */

}
@media only screen and (max-width: 600px) {
    br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-bottom: 1rem; /* change this to whatever height you want it */
}
}
